*,
body,
html {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --background:#f7f7f7;
    --primary--color:#fe5454;
    --spinner-color: #ffffff;
  }
body{
    background: var(--background);
}

.container{
    max-width:1200px;
    margin: 0 auto;
}

p[role="alert"]{
    color: #f20000;
    font-size: 0.8rem;
}
input[aria-invalid="true"],
input[aria-invalid="true"]:focus,
input[aria-invalid="true"]:active{
        border-color:#f20000;
}

a {
   text-decoration:none;
}

svg#spinner {
    width: 30px;
    overflow: visible;
}
svg#spinner circle {
    stroke: var(--spinner-color);
    transform-origin: 50px 50px;
    animation: spin 1.2s linear infinite;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}